<section class="sidebar">
    <div class="sidebar_header">
        <img src="assets/images/1.jpg" 
        class="img-responsive" alt="avathar"
         width="170" height="170" />
        <div class="sidebar_header_icons">
            <button mat-icon-button>
                <mat-icon>donut_large</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat</mat-icon>
            </button>
            <button mat-icon-button >
                <mat-icon>more_vert</mat-icon>
            </button>
            

        </div>

    </div>
    <div class= "sidebar_search">

    </div>
    <div class="sidebar_content">

    </div>
</section>